<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152862482945-8h72bqh7alil0sj94rf44bospi26shqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152862482945-8h72bqh7alil0sj94rf44bospi26shqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAD6WA4eubcdLo7gVIkrIKowFIdKRdCmfI</string>
	<key>GCM_SENDER_ID</key>
	<string>152862482945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.ananth.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashappchat</string>
	<key>STORAGE_BUCKET</key>
	<string>flashappchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152862482945:ios:af74eb7db2b09805685600</string>
</dict>
</plist>